<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../../pages/header') %>
</head>
<body>
    <main>
        <% bookObjects.forEach(book  => { %>
            <div>
             <p>
                <img src="<%=book.image_url %>" alt="">
            </p>
            <p> <span>Title :</span><%= book.title %></p>
             
             <p><span>Author:</span><%= book.author %></p>
                 
                <p><span> Description: </span> <%= book.descriptions %></p>
               <p> <span> ISBN: </span> <%= book.isbn %></p>
            </div> 
        <br>
        <div class="updateForm" style="display: none;">
        <form action="/book" method="post" type="hidden">      
        <input type="text" name="image_url" value="<%= book.image_url %>">
        <input value="<%= book.title %>" type="text" name="title"><br>
        <input type="text" name="author" value="<%= book.author %>"><br>
        <textarea name="descriptions" cols="60" rows="20">
           <%= book.description %> 
        </textarea><br>
        <input type="text" name="isbn" value="<%= book.isbn %>"><br>

       </div>
         <input type="submit" value="View details">
        </form>
        <% }); %>
    </main>
</body>
</html>











